// Place all the styles related to the Chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.messagescreen {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #eeeeee;

  border-radius: 1%;
  box-shadow: inset 0px 0px 1px 1px rgb(200, 200, 200);
}

.sendbar {
  width: 90%;
  margin-left: calc((100% - 90%) / 2);
  height: 4rem;
  line-height: 4rem;
  padding: 1rem;
  margin-top: 20px;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0px 0px 1px 1px rgb(220, 220, 220);
}

.message {
  $height: 60px;
  position: absolute;

  left: 0;
  right: 0;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      bottom: 20px + ($i - 1) * ($height + 15px);
    }
  }
  margin: 0 auto;
  max-width: 300px;


  .text {
    text-align: center;
    line-height: $height;
  }

  .date {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #ddd;
    font-size: 10px;
  }



  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 1px rgb(220, 220, 220);


}
